[submodule "Packages/Acting"]
	path = Packages/Acting
	url = git@github.com:YuriAICruz/Unity-Acting.git
[submodule "Packages/Utils"]
	path = Packages/Utils
	url = git@github.com:YuriAICruz/Unity-Utils.git
[submodule "Packages/UiGenerics"]
	path = Packages/UiGenerics
	url = git@github.com:YuriAICruz/Unity-UI-Generics.git
[submodule "Packages/LightOfSight"]
	path = Packages/LightOfSight
	url = git@github.com:YuriAICruz/Unity-LightOfSight.git
[submodule "Packages/Grid"]
	path = Packages/Grid
	url = git@github.com:YuriAICruz/Unity-Grid.git
[submodule "Packages/Networking"]
	path = Packages/Networking
	url = git@github.com:YuriAICruz/Unity-Networking.git
[submodule "Packages/JsonNet"]
	path = Packages/JsonNet
	url = git@gitlab.com:yuriaicruz/jsonNet.git
[submodule "Packages/InputManager"]
	path = Packages/InputManager
	url = git@github.com:YuriAICruz/Unity-InputManager.git
[submodule "Packages/TopDownCity"]
	path = Packages/TopDownCity
	url = git@gitlab.com:yuriaicruz/unity-topdowncity.git
[submodule "Packages/RPGCharacterPackAnimations"]
	path = Packages/RPGCharacterPackAnimations
	url = git@gitlab.com:yuriaicruz/unity-rpgcharacteranimationpack.git
[submodule "Packages/Behavior-Tree"]
	path = Packages/Behavior-Tree
	url = git@github.com:yuriaicruz/Unity-Behaviour-Tree.git
